<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.niit.mapper.HistoryItemMapper">
  <resultMap id="BaseResultMap" type="com.niit.pojo.HistoryItem">
    <id column="history_item_id" jdbcType="INTEGER" property="historyItemId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <association column="dish_id" jdbcType="INTEGER" property="dishId" javaType="com.niit.pojo.Dish" resultMap="DishMap"/>
  </resultMap>
  
  <resultMap id="DishMap" type="com.niit.pojo.Dish">
    <id column="dish_id" jdbcType="INTEGER" property="dishId" />
    <result column="window_id" jdbcType="INTEGER" property="windowId" />
    <result column="dish_name" jdbcType="VARCHAR" property="dishName" />
    <result column="dish_price" jdbcType="DECIMAL" property="dishPrice" />
    <result column="dish_discription" jdbcType="VARCHAR" property="dishDiscription" />
  </resultMap>
  



  
  
<select id="selectByOrderId"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
select h.*,d.*
from history_item h left join dish d on h.dish_id=d.dish_id
where h.order_id=#{orderId,jdbcType=INTEGER}
</select>

<select id="selectByUserId"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
select h.*,d.*
from history_item h left join dish d on h.dish_id=d.dish_id
where h.user_id=#{userId,jdbcType=INTEGER}
</select>

 <insert id="insertHistoryItemsByOrderId" parameterType="com.niit.pojo.HistoryItem">
    insert into history_item (user_id, order_id,dish_id)                   
    values (#{userId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{dishId.dishId,jdbcType=INTEGER})
</insert>


<delete id="deleteHistoryItemsByOrderId" parameterType="java.lang.Integer">
    delete from history_item
    where order_id = #{orderId,jdbcType=INTEGER}
</delete>


<delete id="deleteHistoryItemByUserId" parameterType="java.lang.Integer">
    delete from history_item
    where user_id = #{userId,jdbcType=INTEGER}
</delete>
 

</mapper>













